Flask
Flask-Mail
flask-session
Flask-SQLAlchemy
werkzeug
PyPDF2
pymupdf
Pillow
tabula-py
google-generativeai
python-dotenv
langchain
langchain-google-genai
langchain-community
sentence-transformers
faiss-cpu
numpy
openai
gunicorn
